.sentencerResultLayer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
}

.sentencerResultBox {
  width: 600px;
  height: 250px;
  background: red;
  outline: 10px red solid;
  border: 12px white solid;
  border-style: double;
  padding: 12px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.sentencerResultMessage {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: 24px;
  color: white;
  letter-spacing: var(--console-letter-spacing);
}