.consoleText {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: var(--console-text-size);
  color: var(--console-text-color);
  letter-spacing: var(--console-letter-spacing);
}
.error {
  color: red;
}