@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.consoleMarker {
  width: 12px;
  height: 20px;
  background: var(--console-text-color);
  text-decoration: blink;
  animation-name: blinker;
	animation-duration: 0.45s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
  animation-direction: alternate;
  display: block;
}
